footer {
  background: var(--color-primary);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}

footer a {
  color: var(--color-bg);
}

.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__socials a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer__socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.footer__copyright {
  margin-bottom: 4rem;
  color: var(--color-bg);
}

/* CSS for BuyMeaCoffee link */
@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* Move up 5 pixels */
  }
}

.BuyMeaCoffee-link {
  display: inline-block;
  text-decoration: none;
  color: #333;
  transition: color 0.2s;
  animation: shake 3s infinite; 
}

.BuyMeaCoffee-link:hover {
  color: #ffffff;
}

.Buymecoffee-container {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Align items vertically in the center */
}

.Buymecoffee-icon {
  height: 2rem; /* Adjust the height as needed */
  width: 2rem; /* Adjust the width as needed */
  margin-right: 0.2rem; /* Add some margin between icon and text */
  margin-top: -4rem; /* Adjust this value to move the icon up */
}

.BuyMeaCoffee-text {
  margin: 0; /* Remove default margins */
  font-size: 1rem; /* Adjust the font size as needed */
  margin-top: -4rem; /* Adjust this value to move the icon up */
}